<!-- Universal footer -->
<footer class="bg-dark text-light py-4">
  <div class="container">
    <div class="row">
        <div class="col-md-4">
            <h5>Column 1</h5>
            <p>This is the content of column 1. You can add any text or links here.</p>
        </div>
        <div class="col-md-4">
            <h5>Column 2</h5>
            <p>This is the content of column 2. You can add any text or links here.</p>
        </div>
        <div class="col-md-4">
            <h5>Column 3</h5>
            <p>This is the content of column 3. You can add any text or links here.</p>
        </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
  <script src="./../script.js"></script>

</footer>
<!--------------------->
