<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
  <div th:replace="~{components/admin_header :: head}"></div>
  <body class="bg-light">
    
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3" style="margin-top: 10vh;">
          <h1 class="mb-4">Admin Login</h1>
          <form action="/admin/login" method="post">
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
      </div>
    </div>
    
    <!------------------>
    <div th:replace="~{components/admin_footer :: footer}"></div>
  </body>
</html>
