<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
  <div th:replace="~{components/admin_header :: head}"></div>
  <body class="bg-light">
    <div th:replace="~{components/admin_header :: nav}"></div>
    <!-- Main content -->
    <br><br>
    <div class="container">
      <div class="row">
        <h1 class="mb-4">😷  Patients</h1>
      </div>
      <div class="row">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Email</th>
              <th scope="col">Phone</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="patient : ${patients}">
              <td th:text="${patient.id}"></td>
              <td th:text="${patient.firstName}"></td>
              <td th:text="${patient.lastName}"></td>
              <td th:text="${patient.email}"></td>
              <td th:text="${patient.phone}"></td>
              <td>
                <a data-bs-toggle="modal" th:data-bs-target="'#editPatientModal' + ${patient.id}" class="btn btn-warning btn-sm">Edit</a>
                <a th:href="@{'/admin/deletePatient/' + ${patient.id}}" class="btn btn-danger btn-sm">Delete</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

       <!-- Edit Patient Modal -->
    <div th:each="patient : ${patients}">
      <div class="modal fade" th:id="'editPatientModal' + ${patient.id}" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addPatientModalLabel">Edit Patient</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="editPatientForm" action="/admin/editPatient" method="post">
              <div class="modal-body">
                <p>
                  Edit the patient's details below.
                </p>
                <!-- Edit Patient form -->
                <div class="form-group mb-3 hidden">
                  <input type="text" class="form-control" name="id" placeholder="Patient ID" th:value="${patient.id}" hidden required>
                </div>
                <div class="form-row mb-3">
                  <div class="form-group col-md-5 mb-3" style="float:left">
                    <input type="text" class="form-control" name="firstName" placeholder="First Name" th:value="${patient.firstName}" required>
                  </div>
                  <div class="form-group col-md-6 mb-3" style="float:right">
                    <input type="text" class="form-control" name="lastName" placeholder="Last Name" th:value="${patient.lastName}" required> 
                  </div>
                </div>
                <div class="form-group mb-3">
                  <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Email" th:value="${patient.email}" required>
                </div>
                <div class="form-group mb-3">
                  <input type="tel" class="form-control" name="phone" placeholder="Phone number" th:value="${patient.phone}" required>
                </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-success">Edit Patient</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

      <!-- Toasts -->
      <div class="toast-container position-fixed top-0 start-50 translate-middle-x p-3">
        <div id="added" class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="d-flex">
            <div class="toast-body">
              Patient added successfully
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
        </div>
      </div>
      <div class="toast-container position-fixed top-0 start-50 translate-middle-x p-3">
        <div id="updated" class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="d-flex">
            <div class="toast-body">
              Patient updated successfully
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
        </div>
      </div>
      <div class="toast-container position-fixed top-0 start-50 translate-middle-x p-3">
        <div id="deleted" class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="d-flex">
            <div class="toast-body">
              Patient deleted
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
        </div>
      </div>
    <!------------------>
    <div th:replace="~{components/admin_footer :: footer}"></div>
  </body>
</html>
