<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<div th:replace="~{components/header :: head}"></div>

<body>
  <div th:replace="~{components/header :: nav}"></div>
  <!-- Main content -->

  <div class="container mt-5">
    <h1 class="mb-4">Book an Appointment</h1>
    <div class="row">
        <div class="col-md-6">
            <form action="/patient/book" method="post">
              <div class="mb-3">
                <label for="startDate" class="form-label">Start Date and Time</label>
                <input type="datetime-local" class="form-control" id="startDate" step="1800">
              </div>
              <div class="mb-3">
                <label for="endDate" class="form-label">End Date and Time</label>
                <input type="datetime-local" class="form-control" id="endDate" step="1800">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
  </div>

  <!------------------>
  <div th:replace="~{components/footer :: footer}"></div>
</body>

</html>