<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
  <div th:replace="~{components/patient_header :: head}"></div>

  <body class="bg-light">
    <div th:replace="~{components/patient_header :: nav}"></div>
    <!-- Main content -->

    <div class="container mt-5">
      <h1 class="mb-4">My appointments</h1>
      <div class="row">
        <div class="col-md-6">
          
        </div>
      </div>
    </div>
    <br /><br />
    <!------------------>
    <div th:replace="~{components/patient_footer :: footer}"></div>
  </body>
</html>
