<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
  <div th:replace="~{components/patient_header :: head}"></div>

  <body class="bg-light">
    <div th:replace="~{components/patient_header :: nav}"></div>
    <!-- Main content -->

    <div class="container mt-5">
      <h1 class="mb-4">View announcements</h1>
      <div class="row" th:each="announcement : ${announcements}" style="margin-bottom: 20px;">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">From: <span th:text="${announcement.doctor.firstName} + ' ' + ${announcement.doctor.lastName}"></span></h5>
              <p class="card-text" th:text="${announcement.message}"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row" th:if="${announcements.size() == 0}">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">No announcements</h5>
              <p class="card-text">There are no new announcements at the moment.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br /><br />
    <!------------------>
    <div th:replace="~{components/patient_footer :: footer}"></div>
  </body>
</html>
